<nav>
    <div class="site-title">
        <a href="/"><h1>ZB0X</h1></a>
        <p>An exam portal</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/blogs/create">Blog</a></li>
    </ul>
</nav>