<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ritwick Roy">
    <title>ZBOX</title>
</head>
<body>
    <header>
        <h1>ZB0X</h1>
        <p>Welcome to ZB0X! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam cupiditate omnis excepturi, .</p>
    </header>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href=".html">Info</a></li>
        <li><a href="x.html">Contact</a></li>
        <li><a href="/about">About us</a></li>
    </nav>
    <section>    
        <li id="clickCount">0</li>
        <button id="button1" onclick="button()">Click Me!</button>
        <div id="demo">hello</div>
        <input type="text" id="input-el">
        <button id="input-btn">SAVE TEXT</button>
    </section>
    <div id="circle1"></div>
    <aside class="side1">
        Hello bruh moment
    </aside>
    <aside class="side2">
        <img src="../cs9 log.png">
    </aside>
    <div class="clr"></div>
    <footer>
        &copy All rights reserved 2021.
    </footer>
    <script src="home.js"></script>
</body>
</html>